{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    {% if articles %}
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Article title</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article }}</td>
                        
                        <td>
                            <a href="/article/1" class="btn btn-primary">Show</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No articles</p>
    {% endif %}
{% endblock %}